
<div id="ajax-tracks-table">

{{ paged_builder.paged_list_goto_page_form(paged_list, url_for('UnobtrusiveView:index')) }}

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Composer</th>
      <th>Duration</th>
      <th>Size</th>
      <th>Unit Price</th>
    </tr>
  </thead>
  <tbody>
    {% for item in paged_list %}
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.composer }}</td>
      <td>{{ item.duration|human_duration }}</td>
      <td>{{ item.size|filesizeformat }}</td>
      <td>{{ item.unit_price|human_price }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{%
set ajax_options = paged_options.AjaxOptions(http_method='GET',
                                             update_target_id='ajax-tracks-table',
                                             on_complete='on_paged_complete')
%}

<h4>Pager 1 - Classic</h4>
{{
paged_builder.paged_list_pager(
  paged_list,
  paged_builder.page_url_generator('UnobtrusiveView:index'),
  paged_options.PagedListRenderOptions.enable_unobtrusive_ajax_replacing_options(ajax_options))
}}

<h4>Pager 2 - Only show five pages at a time</h4>
{{
paged_builder.paged_list_pager(
  paged_list,
  paged_builder.page_url_generator('UnobtrusiveView:index'),
  paged_options.PagedListRenderOptions.enable_unobtrusive_ajax_replacing(
    paged_options.PagedListRenderOptions.only_show_five_pages_at_a_time(),
      ajax_options))
}}

<h4>Pager 3 - Minimal with page count</h4>
{{
paged_builder.paged_list_pager(
  paged_list,
  paged_builder.page_url_generator('UnobtrusiveView:index'),
  paged_options.PagedListRenderOptions.enable_unobtrusive_ajax_replacing(
    paged_options.PagedListRenderOptions.minimal_with_page_count_text(),
    ajax_options))
}}

<h4>Pager 4 - Minimal with item count</h4>
{{
paged_builder.paged_list_pager(
  paged_list,
  paged_builder.page_url_generator('UnobtrusiveView:index'),
  paged_options.PagedListRenderOptions.enable_unobtrusive_ajax_replacing(
    paged_options.PagedListRenderOptions.minimal_with_item_count_text(),
    ajax_options))
}}

 <h4>Pager 5 - Twitter bootstrap style</h4>
{{
paged_builder.paged_list_pager(
  paged_list,
  paged_builder.page_url_generator('UnobtrusiveView:index'),
  paged_options.PagedListRenderOptions.enable_unobtrusive_ajax_replacing(
    paged_options.PagedListRenderOptions.twitter_bootstrap_pager(),
    ajax_options))
}}

<h4>Pager 6 - Twitter bootstrap style (aligned)</h4>
{{
paged_builder.paged_list_pager(
  paged_list,
  paged_builder.page_url_generator('UnobtrusiveView:index'),
  paged_options.PagedListRenderOptions.enable_unobtrusive_ajax_replacing(
    paged_options.PagedListRenderOptions.twitter_bootstrap_pager_aligned(),
    ajax_options))
}}

</div>
