{% extends "_layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}
{{ navbar('unobtrusive') }}
{% endblock %}

{% block content %}
<div class="container">
{% include 'unobtrusive/_partial.html' %}
</div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script type="text/javascript">
    function on_paged_complete(obj) {
      var $oncomplete = $('#oncomplete');
      $oncomplete
        .text('Paging operation completed.')
        .css('backgroundColor', 'yellow')
        .fadeOut({
          complete: function () {
            $oncomplete.css('backgroundColor', 'transparent').text('').show();
          }});
    }
  </script>
{% endblock %}
