{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% macro navbar(current='traditional') -%}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Paged List Example</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {% if current == 'traditional' %}class="active"{% endif %}><a href="{{ url_for('HomeView:index') }}">Traditional</a></li>
        <li {% if current == 'unobtrusive' %}class="active"{% endif %}><a href="{{ url_for('UnobtrusiveView:index') }}">Unobtrusive Ajax</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li id="oncomplete"></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{%- endmacro %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{ url_for('.static', filename='js/winf.unobtrusive-ajax.js') }}"></script>
{% endblock %}
